node_modules/
*.o
.deps/
Makefile
ascii2rec
ascii_to_ded
cmap
config.h
config.log
config.status
ded_to_ascii
deddump
defaults.inc
delgame
dip
dip.conf
dipclean
docker-instructions.txt
flock
fmtwho
lenlimit
mise.toml
package-lock.json
package.json
rdip
recdump
repomix-output.xml
size_check
smail
stamp-h1
summary
zpblind
